.pipe1{
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    border: 6px solid green;
    border-top-style: dobule;
    border-bottom-style: dotted;
}

.pipe2{
    background-color: lightgreen;
    width: 150px;
    height: 200px;
    border: 6px solid green;
    border-top-style: none;
    margin-left: 25px;
}

blockquote {
    color: #f46c83;
    font-size: 22px;
}

strong {
    color: #f00;
}